2024-01/Topologia/.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
2025-01/Topologia/.DS_Store
2025-01/Topologia/Colinha/main.synctex(busy)
2025-02/.DS_Store
2025-02/algebra2/.DS_Store
2025-02/algebra2/resumop1/.DS_Store
2025-02/algebra2/resumop1/resumoAlgebra2P1.synctex.gz
2025-01/.DS_Store
2025-02/AnaliseFuncional/analise-funcional-resumo.synctex.gz
2025-02/AnaliseFuncional/analise-funcional-resumo.synctex.gz
2025-02/AnaliseFuncional/.DS_Store
2025-02/AnaliseFuncional/.DS_Store
2025-02/AnaliseFuncional/.DS_Store
2025-02/AnaliseFuncional/analise-funcional-resumo.synctex.gz
2025-02/formas/questaoSugerida1.synctex.gz
